---

---

<div id="comments-section" class="mt-10">
  <giscus-widget
    id="comments"
    repo="romophic/romophic.com"
    repo-id="R_kgDOQil8lA"
    category="Announcements"
    category-id="DIC_kwDOQil8lM4Czpc3"
    mapping="pathname"
    strict="0"
    reactions-enabled="0"
    emit-metadata="0"
    input-position="bottom"
    lang="ja"
    loading="lazy"
    crossorigin="anonymous"
    async></giscus-widget>
</div>


