---
import '@/styles/global.css'
import '@/styles/typography.css'
import 'katex/dist/katex.min.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import PageLoader from '@/components/PageLoader.astro'
import ReloadPrompt from '@/components/ReloadPrompt.astro'
import ScrollProgress from '@/components/ScrollProgress.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<!doctype html>
<html
  class="bg-background text-foreground scheme-light-dark"
  lang={SITE.locale}
>
  <Head>
    <slot name="head" />
  </Head>
  <body class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
    <ScrollProgress />
    <header
      class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none"
    >
      <Header />
      <slot name="subposts-navigation" />
      <slot name="table-of-contents" />
    </header>
    <main class="w-full mx-auto flex grow flex-col">
      <div class={cn('flex flex-col gap-y-6 w-full mx-auto px-4', className)}>
        <slot />
      </div>
    </main>
    <Footer />
    <PageLoader />
  <ReloadPrompt />
  </body>
</html>
